.battle-log {
  width: 500px;
  min-height: 220px;

  color: #fff;

  background: #222;

  border: 1px solid #444;

  border-radius: 8px;

  padding: 15px;
}

.log-entry {
  margin-bottom: 8px;
  color: #ddd;
}

.log-attacker {
  color: #fff;
  font-weight: bold;
}

.log-target {
  color: #aaa;
}

.log-zone {
  color: #777;
  font-style: italic;
}

.log-damage {
  color: #fff;
  font-weight: bold;
}

.log-critical {
  color: rgb(139, 28, 28);
  font-weight: bold;
}

.log-blocked {
  color: #156148;
  font-style: italic;
}

/**/

.battle-controls {
  margin-top: 20px;
  text-align: center;
}

.battle-controls h3 {
  color: #ddd;
  margin: 10px 0;
}

.attack-zones,
.defense-zones {
  margin-bottom: 15px;
}

.attack-zones button,
.defense-zones button {
  width: 70px;
  height: 35px;

  margin: 5px;

  background: #333;
  color: #ddd;

  border: 1px solid #555;
  border-radius: 5px;

  cursor: pointer;
}

.selected {
  background: #777 !important;
  color: white;
}

.battle-controls > button {
  margin-top: 20px;

  width: 150px;
  height: 45px;

  background: #222;
  color: white;

  border: 1px solid #666;
  border-radius: 8px;

  cursor: pointer;
}

.battle-controls button:hover {
  background: #555;
}
